.service-wrapper{
    margin-top: 40px;
}
.service-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between !important;
    width: 90%;
}
.left-side, .right-side{
    width: 50%;
}

/* bar */
#myProgress {
    width: 50%;
    background-color: #ddd;
  }
  
  #myBar {
    height: 7px;
    background-color: var(--blue);
    text-align: center;
    
  }
  .bar-text{
    justify-content: space-between !important;
    width: 50%;
    font-size: 1.1rem !important;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
  }

  @media (max-width:640px) {

    
    .skill {
        font-size: 2.4rem !important;
        font-weight: 900;
    }
    .about-left .secondaryText{
        font-size: 1.8rem !important;
        line-height: 2.4rem;
    }
}